@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img {
    @apply block;
    margin: 0 auto;
}

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    --card-size: 75%;
    @apply absolute;
    @apply p-2;
    top: 80px;
    right: calc((100% - var(--card-size)) / 2);
    width: var(--card-size);
    @apply bg-secondary/20;
    @apply rounded;
    @apply shadow-xl;
    @apply text-center;
    @apply font-hero;
}

.hero-card > h1 {
    font-size: 10vw;
}

.hero-card > h3 {
    font-size: 8vw;
}

.hero-card > p {
    font-size: 4vw;
}